html, body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    height: 100%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #3d3d3d;
    font-size: 32px;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    color: #3d3d3d;
    font-size: 28px;
    font-weight: 200;
    margin-top: 8px;
    margin-bottom: 100px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #3d3d3d;
}

button {
    font-family: 'Montserrat', sans-serif;
}

/* General container styles */
.container {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.header-container {
    display: flex;
    justify-content: space-between; /* This ensures space between the header text and button */
    align-items: center;
    margin-bottom: 20px;
}

#groveButtons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
  }
  

  .grove-btn {
    background-color: #8fb353;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
  }
  
  .grove-btn:hover,
  .grove-btn:active {
    background-color: #5e8f55;
  }

  .change_grove_btn {
    border: none;
    background: none;
  }

.icon-buttons {
    display: flex;
    gap: 16px;
    align-items: center;
}

.icon-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.icon-button button {
    background-color: #d4e191;
    box-shadow: 2px 2px 4px hsla(82, 39%, 51%, 0.6);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 9px;
    
}

.icon-button p {
    font-size: 10px;
    color: #3d3d3d;
    font-weight: 600;
    margin: 6px 0 0;
}

/* Input row styling */
.input-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: left;
}

.input-group {
    flex-basis: 50%;
    margin-bottom: 8px;
    width: 105%;
}

.input-group-block-row-direction {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 103%;
}

label {
    display: flex;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 96%; /* Full-width input fields */
    height: 28px; /* Padding inside the input */
    padding-left: 8px;
    font-size: 14px; /* Font size for input text */
    border: 2px solid #d4e191; /* Border around inputs */
    border-radius: 5px; /* Rounded corners */
    box-sizing: border-box; /* Ensure padding doesn't affect width */
    background-color: #ffffff;
}

select {
    width: 96%; /* Full-width input fields */
    height: 28px; /* Padding inside the input */
    padding-left: 8px;
    font-size: 14px; /* Font size for input text */
    border: 2px solid #d4e191; /* Border around inputs */
    border-radius: 5px; /* Rounded corners */
    box-sizing: border-box; /* Ensure padding doesn't affect width */
    background-color: #ffffff;
}

option {
    color: #000;
}

select::after {
    color: #000;
}

select::selection {
    color: #000;
}

select:invalid {
    color: #adadad;
  }

input[type="text"]::placeholder {
    color: #adadad; /* Light grey color for placeholder */
    font-size: 12px; /* Adjust the size of placeholder text */
}



input[type="text"]:focus {
    border-color: #40633b; /* Change border color when focused */
    outline: none; /* Remove default outline */
    background-color: #ffffff; 
}


/* Button row styling for phones (vertical) */
.button-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two buttons per row */
    gap: 16px;
    width: 100%;
    
}

/* Button styling */
.counter-button {
    padding: 10px;
    font-size: 32px;
    border: none;
    background-color: #8fb353;
    box-shadow: 4px 4px 8px hsla(60, 49%, 20%, 0.7);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    height: 120px;
    box-sizing: border-box;
}


.counter-button:active {
    background-color: #5e8f55;
    box-shadow: 3px 3px 8px #2a4127;
}

.counter-button:hover {
    background-color: #5e8f55;
    box-shadow: 3px 3px 8px #2a4127;
}


.download-button {
    margin-top: 16px;
    margin-bottom: 40px;
    background-color: #8fb353;
    border: solid 2px #8fb353;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    border-radius: 50px;
    width: 160px;
}


.view-data-button {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}

.header-back-button {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: #ffffff;
    border: solid 2px #3d3d3d;
    color: #3d3d3d;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    border-radius: 50px;
    width: 160px;
}

.header-back-button:active {
    background-color: #3d3d3d;
    color: #ffffff;
}



/* Delete button style */
.delete-button {
    margin-top: 16px;
    margin-bottom: 40px;
    background-color: #f44336;
    border: solid 2px #f44336;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    border-radius: 50px;
    width: 160px;
}

.delete-button:active {
    background-color: #a12f27;
}

.action-buttons {
    display: flex;
    gap: 24px;
    align-items: center;
}

/* Make sure header text looks fine */
h2 {
    margin: 0;
    font-size: 24px;
}

/* Media query for smaller devices */
@media (max-width: 721px) {
    h2 {
        font-size: 18px; /* Adjust font size on smaller screens */
       
    }
    
    .view-data-button {
        font-size: 14px; /* Smaller button text on smaller screens */
    }

   

    
}



/* Responsive layout for tablets */
@media (min-width: 720px) {
    .button-row {
        grid-template-columns: repeat(5, 1fr); /* Display buttons in a row on larger screens */
    }

    .input-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10px;
    }

    .submit-button,
    .download-button {
        padding: 20px;
        font-size: 20px;
        width: 40%;
        margin-top: 32px;
        height: 68px;
    }


}


/* Adjust button sizes for phones vs. tablets */
@media (max-width: 768px) {
    .counter-button {
        padding: 15px; /* Smaller buttons for phones */
        font-size: 32px;
        margin-top: 2px;
    }

    .submit-button,
    .download-button {
        padding: 12px;
        font-size: 16px;
    }
}

@media (min-width: 767px) {
    .counter-button {
        width: 95%; /* Increase button size on larger screens */
        height: 140px;
        font-size: 32px; /* Adjust text size */
        margin-top: 20px;
    }

    .input-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        margin-bottom: 20px;
    }

    .input-group-block-row-direction {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 102%;
    }

    .submit-button,
    .download-button {
        padding: 20px;
        font-size: 20px;
        width: 40%;
        margin-top: 50px;
        height: 68px;
    }
}

/* Increase button size for large tablets or desktop view */
@media (min-width: 1024px) {
    .counter-button {
        width: 95%;
        height: 160px;
        font-size: 32px;
    }
}